{# ############################################################################
   # License: 文章许可声明（正文末尾）
   # 配置：[extra.license] enable 总开关，license_text 自定义文案（Markdown，
   # 支持占位符 {author} {title} {url}）；单篇 extra.license = false 关闭，
   # extra.license_text 覆盖本篇；加密文章隐藏
   ############################################################################ #}
{% set _lic_enable = true %}
{% if config.extra.license is defined and config.extra.license.enable is defined %}{% set_global _lic_enable = config.extra.license.enable %}{% endif %}
{% if page.extra.license is defined and page.extra.license == false %}{% set_global _lic_enable = false %}{% endif %}
{% set _lic_locked = page.extra.encrypted | default(value=false) %}
{% if _lic_enable and not _lic_locked %}
{% set _lic_lang = lang | default(value=config.default_language) %}
{% if page.lang is defined and page.lang %}{% set_global _lic_lang = page.lang %}{% endif %}
{% set _lic_raw = page.extra.license_text | default(value="") %}
{% if _lic_raw == "" %}{% set_global _lic_raw = config.extra.license.license_text | default(value="") %}{% endif %}
{% if _lic_raw == "" %}{% set_global _lic_raw = trans(key="license_text", lang=_lic_lang) %}{% endif %}
{% if _lic_raw != "" %}
{% set _lic_author = page.extra.author | default(value=config.author) | default(value=config.title) %}
{% set _lic_url = page.permalink | default(value="") %}
{% set_global _lic_rendered = _lic_raw | replace(from="{author}", to=_lic_author) | replace(from="{title}", to=page.title) | replace(from="{url}", to=_lic_url) %}
<div class="article-license"><div class="article-license__body">{{ _lic_rendered | markdown | safe }}</div><span class="article-license__cc" aria-hidden="true">{{ <icon name="cc"/> }}{{ <icon name="by"/> }}{{ <icon name="nc"/> }}{{ <icon name="sa"/> }}</span></div>
{% endif %}
{% endif %}
